@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}
.wrapper{
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
    background-image: url(https://imgs.search.brave.com/DA9V-ntJD_veZvtj5oGm3LrjLRNDY7OF0dtbL4s5PzM/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/ZnJlZS1waG90by9i/YWNrZ3JvdW5kLWdy/YWRpZW50LWxpZ2h0/c18yMy0yMTQ5MzA0/OTY5LmpwZz9zaXpl/PTYyNiZleHQ9anBn);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.game-info{
    position: absolute;
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.2);
    font-weight: 600;
    border-radius: 10px;
    color: white;
    top: 3rem;
    left: 50%;
    transform: translate(-50%);
    border: 1px solid  rgba(255, 255, 255, 0.2);

}
.tic-tac-toe{
    width: 90%;
    max-width: 20rem;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    border: 1px solid  rgba(255, 255, 255, 0.2);
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    aspect-ratio: 1/1;


}
.box{
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    cursor: pointer;
    font-size: 3rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box1,.box2,.box4,.box5{
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}
.box3,.box6{
    border-bottom: 1px solid white;
}
.box7,.box8{
    border-right: 1px solid white;
}
.btn{
    color: white;
    position: absolute;
    left: 50%;
    padding: 5px 10px;
    transform: translate(-50%);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    border: 1px solid  rgba(255, 255, 255, 0.2);
    bottom: 3rem;
    cursor: pointer;
    display: none; 
}
.active{
    display: flex;
}
.win{
    background-color: rgba(0, 128, 0, 0.663);
}